/* index.html Style colors:
#212121 - main text color (h2, nav-links)
#2196F3 - accent-color (Web in logos, hover/focus)
#757575 -auxiliary text color (h3), mail+tel in header
#F5F4FA - section bg-color
#ECECEC - line between header and hero
#FFFFFF 60% - footer mail
#FFFFFF 100% - h1, footer adress, header and team bg
#2F303A - banner, footer bg, 
#000000 - Style in logos, +?? maybe later will be shadow in footer's logo 
*/

/* Portfolio-main Style colors:
#212121 - main text color (h2, buttons)
#2196F3 - accent-color (buttons hover/focus)
#757575 - auxiliary text color (p)
#F5F4FA - unhovered filters bg
#FFFFFF - project card bg
#EEEEEE - project card's border
*/

:root {
  --main-text-color: #212121;
  --auxiliary-text-color: #757575;
  --accent-color: #2196f3;
  --section-bg-color: #f5f4fa;
  --additional-color: #ffffff;
  --second-additional-color: rgba(255, 255, 255, 0.6);
}

/* Basic teg-style settings*/
body {
  margin: 0;
  padding: 0;

  background-color: var(--additional-color);
  color: var(--main-text-color);

  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
p {
  color: var(--auxiliary-text-color);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* Usefull for future */
/* img {
  display: block;
  min-width: 100%;
  height: auto;
} */
/* Container box */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0 auto;

  /* border: 1px solid tomato; */
  /* background-color: ROSYBROWN; */
}
/* Usefull for future */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */
/* Logo */
.logo {
  color: #000000;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo--bottom {
  color: var(--additional-color);
  margin: 0;
}
.logo__text,
.site-nav .selected-page {
  color: var(--accent-color);
}

/* Site nav */
.navigation {
  display: flex;
  align-items: baseline;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgb(236, 236, 236);
}
.site-nav {
  display: flex;

  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 93px;
}
.site-nav__item {
  margin-right: 50px;
}
.site-nav__item:last-child {
  margin-right: 0px;
}
.site-nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--main-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}
.selected-page::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 100%;
  height: 4px;

  background: var(--accent-color);
  border-radius: 2px;
}
/* Contact nav */
.contact-nav {
  display: flex;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: auto;
  padding-inline-start: 0;
}
.contact-nav__item {
  margin-right: 50px;
}
.contact-nav__item:last-child {
  margin-right: 0px;
}
.contact-nav__link {
  display: flex;
  align-items: center;
  color: var(--auxiliary-text-color);

  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-nav__icon {
  display: block;
  margin-right: 10px;
}
.contact-nav__link:hover,
.contact-nav__link:focus {
  color: var(--accent-color);
  --color4: var(--accent-color);
}

/* HERO */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;

  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  max-width: 1600px;
  height: 600px;
  width: var(--max-width);
}
.hero__title {
  margin: 0;
  padding: 0;

  color: var(--additional-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  display: inline-block;
  margin-top: 30px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;

  background-color: var(--accent-color);
  color: var(--additional-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 999;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-height: 581px;
  min-width: 528px;
  padding: 40px;

  background-color: var(--additional-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-svg {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  fill: #000000;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--additional-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-svg:hover,
.modal__close-svg:focus {
  fill: var(--accent-color);
  cursor: pointer;
}
.form {
  display: flex;
  flex-direction: column;
}
.form__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
.form__inputs-set {
  margin-bottom: 20px;
}
.inputs-set__label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.inputs-set__info {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--auxiliary-text-color);
}
.inputs-set__input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;

  font-size: 16px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.inputs-set__input--comment {
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;

  max-width: 448px;
  max-height: 120px;
}
.inputs-set__input--comment::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.inputs-set__icon {
  position: absolute;
  bottom: 13.5px;
  left: 12px;
  fill: var(--main-text-color);
}
.inputs-set__input:focus {
  border-color: var(--accent-color);
  outline: none;
  cursor: pointer;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.inputs-set__input:focus ~ .inputs-set__icon {
  fill: var(--accent-color);
  cursor: pointer;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {
  align-self: center;
}
.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox__label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.checkbox__info {
  align-self: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--auxiliary-text-color);
}
.checkbox__link {
  text-decoration-line: underline;
  color: var(--accent-color);
}
.checkbox__input + .checkbox__icon {
  display: inline-block;
  margin-right: 7px;
  height: 15px;
  width: 16px;

  background-color: var(--additional-color);
  border: 2px solid var(--main-text-color);
  border-radius: 2px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:checked + .checkbox__icon {
  background-color: var(--accent-color);
  background-image: url("../images/check.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
  border-radius: 2px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__button {
  display: flex;
  align-items: center;
  text-align: center;

  padding-top: 10px;
  padding-bottom: 10px;

  background-color: var(--accent-color);
  color: var(--additional-color);
  --color5: var(--additional-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;

  align-self: center;
  padding-right: 55px;
  padding-left: 56px;
}
.form__button:hover,
.form__button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

/* FEATURES */
.features {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-inline-start: 0;
}
.features__item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}
.features__item:last-child {
  margin-right: 0px;
}
.features__title {
  margin: 0;
}
.features__details {
  margin-top: 10px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.features__thumb {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;

  background-color: var(--section-bg-color);
  border-radius: 4px;
}

/* EXAMPLES */
.examples {
  padding-top: 0px;
  z-index: 100;
}
.examples__title {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
}
.examples-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-inline-start: 0;
}
.examples-list__item {
  display: block;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}
.examples-list__item:last-child {
  margin-right: 0px;
}
.examples-list__link {  
  position: relative;
}
.examples__name {
  position: absolute;
  top: 224px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 370px;
  height: 70px;

  color: var(--additional-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* TEAM */
.team {
  background-color: var(--section-bg-color);
}
.team__title {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
}
.team__main-info {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-inline-start: 0;
}
.team-list__item {
  display: block;
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  overflow: hidden;

  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list__item:last-child {
  margin-right: 0px;
}
.team-list__name {
  margin: 0;

  font-size: 16px;
  text-transform: none;
}
.team-list__speciality {
  margin-top: 10px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.social-links {
  display: flex;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 16px;
}
.social-links__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links__link:hover,
.social-links__link:focus {
  background-color: var(--accent-color);
  --color5: var(--additional-color);

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50%;
}

/* CLIENTS */
.clients__title{
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-inline-start: 0;
}
.clients-list__item {
  display: block;
  width: calc((100% - 150px) / 6);
  margin-right: 30px;
}
.clients-list__item:last-child {
  margin-right: 0px;
}
.clients-list__thumb-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;

  background-color: var(--additional-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__thumb-link:hover,
.clients-list__thumb-link:focus {
  --color5: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

/* FOOTER */
.footer {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer--unlimited {
  background-color: #2f303a;
}

.footer__left-part {
  min-width: 231px;
}
.footer-contacts {
  margin-top: 20px;
}
.footer-contacts__list {
  padding-inline-start: 0;
  margin-top: 20px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.footer-contacts__item {
  margin-bottom: 9px;

  color: var(--additional-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.footer-contacts__item:last-child {
  margin-bottom: 0px;
}
.footer-contacts__link {
  color: var(--second-additional-color);
}

.footer__—Åenter-part {
  margin-left: 70px;
  margin-right: 93px;
  width: 206px;
}
.footer__invitation {
  color: var(--additional-color);
  margin-bottom: 20px;
}
.social-links--footerish {
  padding: 0;
  --color5: var(--additional-color);
}

.footer__right-part {
  display: flex;
  flex-direction: column;
}
.form-submit {
  display: flex;
}
.form-submit__input {
  margin-right: 12px;
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 358px;
  height: 50px;

  color: rgb(255, 255, 255);
  background-color: #2f303a;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.form-submit__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.button-submit {
  display: flex;
  align-items: center;
  text-align: center;

  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;

  background-color: var(--accent-color);
  color: var(--additional-color);
  --color5: var(--additional-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
}
.button-submit__icon {
  margin-left: 10px;
  background-color: var(--accent-color);
  --color5: var(--additional-color);
}

/* PORTFOLIO PAGE STYLING */
/* Filter style */
.filter-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-inline-start: 0;
}
.filter-list__item {
  margin-right: 8px;
  margin-bottom: 50px;

  background-color: var(--section-bg-color);
  color: var(--main-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
}
.filter-list__item:last-child {
  margin-right: 0;
}
.filter-list__button {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  background-color: transparent;
  color: var(--main-text-color);
  border: none;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  transition-property: background-color, color, border, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-list__button:hover,
.filter-list__button:focus {
  background-color: var(--accent-color);
  color: var(--additional-color);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* Projects style */
.project-list {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  padding-inline-start: 0;
}
.project-list__item {
  display: block;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  box-sizing: border-box;
}
.project-list__item:nth-child(3n) {
  margin-right: 0px;
}
.project-list__item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.project-list__link {
  display: block;
  width: 100%;

  background-color: var(--additional-color);

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-list__link:hover,
.project-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-list__overlay {
  position: relative;
  overflow: hidden;
}
.project-list__thumb-text {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  bottom: 0;
  left: 0;
  transform: translateY(100%);

  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);

  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-list__link:hover .project-list__thumb-text,
.project-list__link:focus .project-list__thumb-text {
  opacity: 1;
  transform: translateY(0);
}
.project-list__info {
  display: block;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;

  background-color: var(--additional-color);

  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.project-list__name {
  margin: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: none;
}
.project-list__description {
  margin-top: 4px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
