//* EXAMPLES */
  .examples {
    padding-top: 0px;
    z-index: 100;
  }
  .examples__title {
    margin-bottom: 50px;
  }
  .examples-list {
    // display: flex;
    // flex-wrap: wrap;
    padding-inline-start: 0;
  }
  .examples-list__item {
    display: block;
    // width: calc((100% - 60px) / 3);
    margin-right: 30px;

    &:last-child {
      margin-right: 0px;
    }
  }
  .examples-list__link {  
    position: relative;
  }
  .examples__name {
    position: absolute;
    top: 224px;
    left: 0;
    // display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 370px;
    height: 70px;
  
    color: $additional-color;
    background-color: $third-additional-color;
  }