//* FEATURES */
  .features {
    // display: flex;
    // flex-wrap: wrap;
    padding-inline-start: 0;
  }
  .features__item {
    // width: calc((100% - 90px) / 4);
    margin-right: 30px;

    &:last-child {
      margin-right: 0px;
    }
  }
  .features__title {
    margin-bottom: 10px;
  }
  .features__thumb {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 30px;
    // width: 270px;
    // height: 120px;
  
    background-color: $section-bg-color;
    border-radius: 4px;
  }