/* FOOTER */
  .footer {
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    text-align: center;

    @media screen and (min-width: 1200px) {
      text-align: start;
      align-items: baseline;
    }

    padding-top: 60px;
    padding-bottom: 60px;

    &--unlimited {
      background-color: $footer-color;
    }
  }

  .footer__item {
    max-width: 100%;
    margin-bottom: 60px;

    &:nth-last-child(-n+1){
      margin-bottom: 0;
    }
    
    @media screen and (max-width: 767px) {
      width: 100%;
    
      &:nth-child(n) {
        margin-right: 0px;
      }
      &:nth-last-child(-n+1) {
        margin-bottom: 0;
      }
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: calc((100% - 30px) / 2);
    
      &:nth-child(2n) {
        margin-right: 0px;
      }
      &:nth-last-child(-n+2) {
        margin-bottom: 0;
      }
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 60px) / 3);
    
      &:last-child {
        margin-right: 0px;
      }
    }
  }
  .footer-contacts {
    margin-top: 20px;
  }
  .footer-contacts__list {
    padding-inline-start: 0;
  }
  .footer-contacts__item {
    margin-bottom: 8px;
  
    color: $additional-color;
  
    font-family: $main-font, sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;

    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
      }
    &:last-child {
      margin-bottom: 0px;
    }


  }
  .footer-contacts__link {
    color: $second-additional-color;
  }
  
 
  .footer__invitation {
    color: $additional-color;
    margin-bottom: 20px;
  }
  .social-links--footerish {
    padding: 0;
    --color5: $additional-color;
    fill: $additional-color;
  }
  
  .form-submit {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media screen and (min-width: 1200px) {
      flex-direction: row;
    }
  }
  .form-submit__input {
    padding-top: 15px;
    padding-right: 16px;
    padding-bottom: 15px;
    padding-left: 16px;
    height: 50px;
    width: 450px;
    
    @media screen and (min-width: 1200px) {
      width: 358px;
      margin-right: 12px;
    }
  
    color: $additional-color;
    background-color: $footer-color;
  
    font-family: $main-font, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
  
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }
  }
  
  .button-submit {
    display: flex;
    align-items: center;
    text-align: center;
  
    padding-top: 10px;
    padding-right: 28px;
    padding-bottom: 10px;
    padding-left: 29px;
    margin-top: 20px;
    width: 200px;

  
    background-color: $accent-color;
    color: $additional-color;
    --color5: $additional-color;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  
    font-family: $main-font, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: none;
  }
  .button-submit__icon {
    margin-left: 10px;
    background-color: $accent-color;
    --color5: $additional-color;
  }