// index.html Style colors:

// #212121 - main text color (h2, nav-links)
// #2196F3 - accent-color (Web in logos, hover/focus)
// #757575 -auxiliary text color (h3), mail+tel in header
// #F5F4FA - section bg-color
// #ECECEC - line between header and hero
// #FFFFFF 60% - footer mail
// #FFFFFF 100% - h1, footer adress, header and team bg
// #2F303A - banner, footer bg, 
// #000000 - Style in logos, +?? maybe later will be shadow in footer's logo

// Portfolio-main Style colors:

// #212121 - main text color (h2, buttons)
// #2196F3 - accent-color (buttons hover/focus)
// #757575 - auxiliary text color (p)
// #F5F4FA - unhovered filters bg
// #FFFFFF - project card bg
// #EEEEEE - project card's border

$main-text-color: #212121; 
$auxiliary-text-color: #757575;
$accent-color: #2196f3;

$section-bg-color: #f5f4fa; 
$additional-color: #ffffff; 
$second-additional-color: rgba(255, 255, 255, 0.6); 
$third-additional-color: rgba(47, 48, 58, 0.8); 
$footer-color: #2f303a; 

$logo-font: "Raleway";
$main-font: "Roboto";


